doctype html
html
    head
    body
        header
        main
            form(action="/process" method="post")
                input(type="hidden", name="_csrf", value=csrfToken)
                span Name:
                input(type="text", name="name", required=true)
                br
                input(type="submit")
        footer
        